<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS Templates-->
    {{#each css}}
        <link rel="stylesheet" href="{{this}}" type="text/css">
    {{/each}}

    <link rel="icon" href="{{icon}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>

    <title>{{title}}</title>

</head>

<body cz-shortcut-listen="true">


<!--Nav Bar In All Pages-->
<nav id="navbar" role="navigation">
    <div class="nav-wrapper container">

        <a id="logo-container" href="/" class="brand-logo">Mongo Scrapper</a>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/scrape">Start Scrapping</a></li>
            <li><a href="/articles-saved">Saved Articles</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/scrape">Start Scrapping</a></li>
            <li><a href="/articles-saved">Saved Articles</a></li>
        </ul>


    </div>
</nav>


<!--Renders body of Index or Articles Saved-->
{{{ body }}}


<!--Footer In All Pages-->
<footer class="page-footer">

    <div class="container">

        <div class="row">

            <div class="col l6 s12">
                <h5 class="white-text">Application Info</h5>
                <p class="grey-text text-lighten-4">This Web Application scrapes articles from
                    selected websites using the cheerio-scrapper API. The articles are then saved (to the
                    users choosing) into a Mongo database and can be commented on.</p>


            </div>

            <!--Social Media Links/Icons-->
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>


                <div class="col s4"><a class="waves-effect btn-floating btn-large social github"
                                       href="{{github}}" target="_blank"><i
                        class="fa fa-github"></i></a>
                </div>

                <div class="col s4"><a class="waves-effect btn-floating btn-large social linkedin"
                                       href="{{linkedin}}" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
                </div>


                <div class="col s4">
                    <a class="waves-effect btn-floating btn-large social stack-overflow"
                       href="{{stackoverflow}}"
                       target="_blank">
                        <i class="fa fa-stack-overflow"></i></a>
                </div>

            </div>

        </div>

    </div>

    <!--Copyright Info-->
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 <a class="brown-text text-lighten-3" href="https://www.linkedin.com/in/alfredo-wiesner">Alfredo
            Rodriguez</a>
        </div>
    </div>

</footer>


<!--  Scripts-->
{{#each js}}
    <script rel="stylesheet" src="{{this}}" type="text/javascript"></script>
{{/each}}

<script id="article-template" type="text/x-handlebars-template">


        <div class="row" data-id="{{_id}}">

            <ul class="collapsible" data-collapsible="accordion">

                <li>

                    <div class="collapsible-header waves-effect waves-purple">

                        <ul class="collection">

                            <li class="collection-item avatar"><i
                                    class="material-icons circle">find_in_page</i>
                                <span class="title"><h5>{{title}}</h5></span>
                                <label>{{author}}<br></label>

                            </li>

                        </ul>

                        <a class="btn-floating btn-large waves-effect waves-red"><i class="material-icons">add</i></a>

                    </div>


                    <div class="collapsible-body">

                        <div class="col s12 m12">
                            <h2 class="header">{{title}}</h2>
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{image}}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p>{{text}}</p>
                                    </div>
                                    <div class="card-action">
                                        <label>{{author}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </li>

            </ul>

        </div>


</script>

<script type="text/javascript">

    //Allows Side Nav bar to collapse
    $(document).ready(function () {

        $(".button-collapse").sideNav();

        $('select').material_select();

    })

</script>


<div class="hiddendiv common"></div>
<div class="drag-target" data-sidenav="nav-mobile"></div>


</body>
</html>
